@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat/Benguiat.woff2') format('woff2'),
        url('../fonts/benguiat/Benguiat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat/Benguiat-Bold.woff2') format('woff2'),
        url('../fonts/benguiat/Benguiat-Bold.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat/Benguiat-BoldItalic.woff2') format('woff2'),
        url('../fonts/benguiat/Benguiat-BoldItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat/Benguiat.woff2') format('woff2'),
        url('../fonts/benguiat/Benguiat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat/Benguiat.woff2') format('woff2'),
        url('../fonts/benguiat/Benguiat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 
@font-face {
    font-family: 'Benguiat';
    src: url('../fonts/benguiat/Benguiat-Italic.woff2') format('woff2'),
        url('../fonts/benguiat/Benguiat-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat/ArticulatCF-ExtraLight.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat/ArticulatCF-Light.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat/ArticulatCF-Heavy.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat/ArticulatCF-Medium.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat Demi';
    src: url('../fonts/Articulat/ArticulatCF-DemiBold.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat/ArticulatCF-Bold.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat Extra';
    src: url('../fonts/Articulat/ArticulatCF-ExtraBold.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat';
    src: url('../fonts/Articulat/ArticulatCF-Thin.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat'; 
    src: url('../fonts/Articulat/ArticulatCF-Regular.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Articulat Normal';
    src: url('../fonts/Articulat/ArticulatCF-Normal.woff2') format('woff2'),
        url('../fonts/Articulat/ArticulatCF-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-SemiBold.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-Black.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-ExtraBold.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-Bold.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-Regular.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-Light.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/Recursive/Recursive-Medium.woff2') format('woff2'),
    url('../fonts/Recursive/Recursive-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
