
/*======================================== config =================================*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


p {
  margin: 0px;
}

a {
  text-decoration: none; 
  color: #2e3750;
  transition: .3s all !important;
}

a:hover,
a:focus {
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.open_menu { 
    overflow: hidden;
  }
}
body {
  max-width: 100%;
  overflow-x: hidden;
  color: #333366;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 1.5;
  font-family: 'Articulat';
  font-weight: normal;
  background: #f9f9f9;
  @media (max-width: 1600px) {
    font-size: 20px;
  }
  @media (max-width: 1400px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}
.container {
  max-width: 1920px;
  padding: 0 110px;
  @media (max-width: 1600px) {
    padding: 0 80px;
  }
  @media (max-width: 1400px) {
    padding: 0 60px;
  }
  @media (max-width: 1023px) {
    padding: 0 40px;
  }
  @media (max-width: 767px) {
    padding: 0 24px;
  }
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  //transition: .3s all !important;
  outline: none !important;
}

/*======================================== end config =================================*/

footer {
  padding: 170px 0 45px 0;
  background: url(../images/bg-fter.png) no-repeat;
  background-size: cover;
  background-position: top left;
  font-size: 24px;
  @media (max-width: 767px) {
    padding: 40px 0;
    background-position: center;
    font-size: 14px;
  }
}
.fter-top {
  @media (max-width: 1700px) {
    font-size: 20px;
  }
  @media (max-width: 1400px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
  .row {
    >div {
      @media (max-width: 767px) {
        margin-bottom: 30px;
        &:first-child {
          order: 2;
        }
        &:nth-child(2) {
          order: 3;
          margin-bottom: 0;
        }
        &:last-child {
          order: 1;
        }
      }
    }
  }
  .link-fter {
    @media (max-width: 767px) {
      ul {
        display: block;
        text-align: left;
        padding: 16px 0 0 0;
        li {
          padding: 0;
          margin: 0 0 10px 0;
          &:last-child {
            margin: 0;
          }
          &:After {
            display: none;
          }
        }
      }
    }
  }
}
.item-fter {
  .title-fter {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px;
    @media (max-width: 1600px) {
      font-size: 24px;
    }
    @media (max-width: 1400px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
      margin-bottom: 16px;
    }
  }
  ul  {
    list-style: none;
    li {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.item-fter-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  @media (max-width: 767px) {
    text-align: left;
    .logo {
      img {
        max-height: 26px;
      }
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      margin-right: 10px;
      padding-right: 10px;
      position: relative;
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:after {
          display: none;
        }
      }
      &:After {
        content: "|";
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.fter-bot {
  margin-top: 100px;
  @media (max-width: 1700px) {
    font-size: 20px;
  }
  @media (max-width: 1400px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
    margin-top: 30px;
  }
  .col-md-6 {
    @media (max-width: 767px) {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 767px) {
      justify-content: center;
    }
    li {
      margin-right: 25px;
      &:last-child {
        margin-right: 0;
      }
      a {
        display: flex;
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    img {
      position: relative;
      top: 3px;
      margin-left: 20px;
      @media (max-width: 1400px) {
        top: 0;
      }
    }
  }
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 60px 0;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: #cccccc;
        font-weight: bold;
        font-size: 20px; 
      }
    }
  }
}