$blue: #3366ff;

.title {
	margin-bottom: 65px;
	@media (max-width: 1600px) {
		margin-bottom: 45px;
	}
	h2 {
		font-weight: bold;
		font-size: 70px;
		color: $blue;
		font-family: 'Recursive';
		@media (max-width: 1600px) {
			font-size: 55px;
		}
	}
}

.btn-main {
	a {
		display: inline-flex;
	    padding: 20px 35px;
	    color: #fff;
	    border-radius: 10px;
	    font-weight: bold;
	    background-image: -moz-linear-gradient( -158deg, rgb(103,182,249) 0%, rgb(72,98,249) 100%);
	    background-image: -webkit-linear-gradient( -158deg, rgb(103,182,249) 0%, rgb(72,98,249) 100%);
	    background-image: -ms-linear-gradient( -158deg, rgb(103,182,249) 0%, rgb(72,98,249) 100%);
	    line-height: 1;
	}
}

.box-banner {
	padding: 200px 0 30px 0;
	background: url('../images/bg-banner.png') no-repeat center;
	background-size: cover;
	background-position: bottom;
}

.content-banner {
	position: relative;
	.info-banner {
		position: relative;
	}
	.avr-banner {
		text-align: right;
		max-width: 52%;
    	margin-left: auto;
	}
	.txt-banner {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    max-width: 60%;
	    color: #cccccc;
	    &.banner-cate-txt {
	    	max-width: 52%;
	    	top: -16%;
	    	.desc {
	    		margin-bottom: 55px;
	    	}
	    }
	}
	.info-txt {
		font-size: 65px;
    	line-height: initial;
		@media (max-width: 1600px) {
			font-size: 52px;
		}
    	span {
    		font-weight: bold;
    		color: #66ffcc;
    	}
    	.desc-caption {
    		font-size: 30px;
    		font-weight: bold;
    		color: #fff;
    		line-height: 1.45;
    		h1 {
    			color: #66ffcc;
    			font-size: 65px;
    			font-weight: bold;
    			margin-bottom: 50px;
    		}
    	}
	}
}
.btn-banner {
	margin-top: 40px;
	a {
		color: #cccccc;
	    font-size: 24px;
	    font-weight: bold;
	    height: 70px;
	    display: inline-flex;
	    align-items: center;
	    padding: 0 30px;
	    border-radius: 10px;
	    position: relative;
		@media (max-width: 1600px) {
			font-size: 20px;
			height: 60px;
		}
	    &:after {
	    	content: "";
	    	width: 100%;
	    	height: 100%;
	    	background: url('../images/boder.png') no-repeat center;
	    	background-size: 100% 100%;
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    }
	}
}
.box-keuringen {
	padding: 80px 0 280px 0;
	@media (max-width: 1600px) {
		padding: 80px 0 200px 0;
	}
}
.list-keu-home {
	.row {
		margin: 0  -12px;
		.col-md-2 {
			padding: 12px;
			flex: 0 0 20%;
			max-width: 20%;
			text-align: center;
			&:first-child {
				flex: 0 0  40%;
				max-width: 40%;
				text-align: left;
			}
		}
	}
}

.item-keuring {
	height: 100%;
	a {
		box-shadow: 0px 13px 54px 0px rgba(105, 95, 151, 0.08);
		padding: 40px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    overflow: hidden;
	    border-radius: 20px;
	    background: #fff;
	    font-weight: bold;
	    font-size: 32px;
	    line-height: initial;
	    height: 100%;
		@media (max-width: 1600px) {
			font-size: 25px;
			padding: 30px;
		}
	    &:hover {
	    	background-image: -moz-linear-gradient( -104deg, rgb(159,221,213) 0%, rgb(74,211,172) 100%);
		    background-image: -webkit-linear-gradient( -104deg, rgb(159,221,213) 0%, rgb(74,211,172) 100%);
		    background-image: -ms-linear-gradient( -104deg, rgb(159,221,213) 0%, rgb(74,211,172) 100%);
		    color: #fff;
	    }
	}
}

.box_keuring-aanv {
	margin-bottom: 350px;
	@media (max-width: 1600px) {
		margin-bottom: 220px;
	}
}

.content-aanv {
	.avarta {
		position: relative;
		.abs-aanv {
			position: absolute;
		    bottom: 0;
		    left: -7%;
		    z-index: -1;
		}
	}
}

.txt-aanvra {
	.desc {
		margin-bottom: 65px;
		font-weight: bold;
		line-height: 1.4;
		@media (max-width: 1600px) {
			margin-bottom: 45px;
		}
	}
}

.box-video {
	position: relative;
	background: url(../images/bn-video.png) no-repeat center;
	background-size: 100% 100%;
	padding: 150px 0 100px 0;
	margin-bottom: 265px;
	@media (max-width: 1600px) {
		padding: 80px 0;
		margin-bottom: 160px;
	}
	.abs-video {
		position: absolute;
		top: -20%;
		right: -3%;
		width: 20%;
	}
	.title {
		h2 {
			color: #fff;
		}
	}
	.video-hoe {
		position: relative;
		max-width: 1250px;
		margin: 0 auto;
		margin-bottom: 70px;
		@media (max-width: 1600px) {
			max-width: 1100px;
		}
	}
	.play-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			@media (max-width: 1600px) {
				width: 100px;
			}
		}
	}
	.txt-link-video {
		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			font-size: 30px;
			color: #Fff;
			@media (max-width: 1600px) {
				font-size: 24px;
			}
			img {
				margin-left: 25px;
			}
		}
	}
}

.box-contact {
	margin-bottom: 60px;
	position: relative;
	.abs-contact {
		position: absolute;
		top: -7%;
		left: 0;
		width: 24%;
	}
	.title {
		margin-bottom: 50px;
	}
	.desc-contact {
		font-weight: bold;
		text-align: center;
		max-width: 810px;
		margin: 0 auto;
	}
}
.frm-form {
	padding-top: 55px;
	margin: 0 auto;
	max-width: 1260px;
	.item-frm {
		margin-bottom: 30px;
		&:last-child {
			margin-top: 70px;
			margin-bottom: 0;
		}
		.txt_field {
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 13px 54px 0px rgb(105 95 151 / 8%);
			width: 100%;
			border: 0;
			padding: 0 30px;
			height: 77px;
			font-weight: bold;
			font-size: 30px;
			border-radius: 30px;
			outline: 1px solid transparent;
			@media (max-width: 1600px) {
				font-size: 24px;
			}
			&::placeholder {
				color: #a3b0fc;
			}
			&:focus {
				outline: 1px solid #a3b0fc;
			}
		}
		textarea {
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 13px 54px 0px rgb(105 95 151 / 8%);
			width: 100%;
			border: 0;
			padding: 20px 30px;
			height: 230px;
			font-weight: bold;
			font-size: 30px;
			border-radius: 30px;
			outline: 1px solid transparent;
			&::placeholder {
				color: #a3b0fc;
			}
			&:focus {
				outline: 1px solid #a3b0fc;
			}
		}
		.btn_field {
			cursor: pointer;
			color: #fff;
			font-weight: bold;
			border: 0;
			border-radius: 10px;
			height: 64px;
			padding: 0 35px;
			background-image: -moz-linear-gradient(-158deg, rgb(103, 182, 249) 0%, rgb(72, 98, 249) 100%);
			background-image: -webkit-linear-gradient(-158deg, rgb(103, 182, 249) 0%, rgb(72, 98, 249) 100%);
			background-image: -ms-linear-gradient(-158deg, rgb(103, 182, 249) 0%, rgb(72, 98, 249) 100%);
		}
	}
}

.box-faqq {
	padding: 60px 0 350px 0;
}

.item-faq {
	margin-bottom: 28px;
	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 13px 54px 0px rgba(105, 95, 151, 0.08);
  	border-radius: 30px;
  	overflow: hidden;
	&:last-child {
		margin-bottom: 0;
	}
	.title-faq {
		padding: 55px 80px;
		font-size: 30px;
		font-weight: bold;
		position: relative;
		cursor: pointer;
		.icon {
		    position: absolute;
		    top: 0;
		    right: 80px;
		    transition: .3s all !important;
		    height: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    transition: .4s all !important;
		}
		&.active {
			.icon {
				transform: rotate(90deg);
			}
		}
	}
	.desc-answer {
		display: none;
	    padding: 0 80px 100px 80px;
	    font-weight: bold;
	    margin-top: -25px;
	}
}
.box-keuringen-cate {
	padding: 150px 0 210px 0;
}
.list-keuringen {
	.row {
		margin: 0 -12px;
		>div {
			padding: 12px;
		}
		.col-md-2 {
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
}
.item-keuringen {
	height: 100%;
	a {
		font-size: 32px;
	    font-weight: bold;
	    display: flex;
	    height: 100%;
	    line-height: initial;
	    justify-content: center;
	    text-align: center;
	    background: #fff;
	    padding: 30px;
	    width: 100%;
	    border-radius: 30px;
	    overflow: hidden;
	    min-height: 175px;
	    align-items: center;
	    &:hover {
	    	background-image: -moz-linear-gradient(-104deg, rgb(159, 221, 213) 0%, rgb(74, 211, 172) 100%);
		    background-image: -webkit-linear-gradient(-104deg, rgb(159, 221, 213) 0%, rgb(74, 211, 172) 100%);
		    background-image: -ms-linear-gradient(-104deg, rgb(159, 221, 213) 0%, rgb(74, 211, 172) 100%);
		    color: #fff;
	    }
	}
}

.box-hoe-werkt {
	padding: 150px 0 280px 0;
}

.item-werkt {
	margin-bottom: 250px;
	&:last-child {
		margin-bottom: 0;
	}
	.row {
		margin: 0;
		.col-md-6 {
			padding: 0;
		}
	}
	&:nth-child(2n) {
		.col-md-6 {
			&:last-child {
				order: 1;
			}
			&:first-child {
				order: 2;
			}
		}
		.txt-werkt {
			padding-right: 130px;
			padding-left: 0;
		}
		.avarta-werkt {
			&:After {
				content: url(../images/hoe-2.png);
			    position: absolute;
			    bottom: -35%;
			    right: 25%;
			    left: unset;
			    z-index: -1;
			}
		}
	}
	.txt-werkt {
		padding-left: 130px;
		h2 {
			color: #3366ff;
		    font-size: 70px;
		    font-weight: bold;
		}
		.desc {
			padding: 65px 0;
    		font-weight: bold;
		}
	}
	.avarta-werkt {
		position: relative;
		&:After {
			content: url(../images/hoe-1.png);
		    position: absolute;
		    bottom: -13%;
		    left: -5%;
		    z-index: -1;
		}
	}
}

.box-aanvragen {
	padding: 120px 0 320px 0;
	.content-aanvragen {
		position: relative;
		.after-abs {
			position: absolute;
			bottom: -12%;
			left: 20%;
			z-index: -1;
			width: 36%;
		}
	}
}